<!-- after purchase users are sent to this confirmation page -->
<h1>Thank you for purchasing</h1>
<button> 
    <%= link_to "Go back to Home", root_path, class: "btn btn-light"%>
</button>
<button> 
<%= link_to 'My Orders', my_order_path%>
</button>

 